<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The island of Ireland is strewn with caves. From the 97m rope descent into Noon's Hole in Fermanagh to the 16km of passage in Pollnagollum, Co. Clare, the island is packed with beautiful and exciting underground passages.

The rich underground never fails to provoke awe in those who dare to visit it - if you will let us, we intend to illuminate the wonders beneath your doorstep!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SRT Training</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Each Wednesday evening, 5pm-8pm, the club meets at the PEC Climbing wall to learn the technical skills prerequisite to vertical caving. Our beginner-friendly SRT training sessions serve as the bedrock of our club community, and are often followed by impromptu club socials.</p>
                                    <br></br>
                                    <p class="text-muted"><strong>Do I need previous caving or climbing experience?</strong> Nope - beginners are very welcome.</p>
                                    <br></br>
                                    <p class="text-muted"><strong>What should I wear?</strong> Preferably dinosaur socks. Beyond that, whatever's comfortable.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>Caving Trips</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">The caves of Fermanagh and Cavan are our main stomping ground, offering diverse experiences for beginners and seasoned potholers alike. However, we have been known to organize trips further afield: traveling to the North coast, Co. Clare, Co. Tipperary, Yorkshire, and beyond.</p>
                                  <br></br>
                                  <p class="text-muted">We offer both single-day and overnight trips to our members, typically aiming for the first weekend of each month. Upcoming trips will be advertised to club members via both email and WhatsApp.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Join Us!</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Do you want to get involved? Students and non-students alike can instantly become a club member by signing up here.</p>
                                  <br><//br>
                                  <p class="text-muted">In the meantime, come and say hello at one of our training sessions, and take a gander at our Linktree.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
